.container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  margin-top: 5rem;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  
  gap: 6.25rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container section > div:first-child {
  height: 100%;
  width: 450px;
}
.container section > div:last-child {
  height: 100%;
  width: 450px;
}




