.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  margin-top: 5rem;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  /* gap: 6.25rem; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container section > div:first-child {
  width: 500px;
}
.container section > div:last-child {
  height: 100%;
  width: 500px;
}



/* .main{
  border:1px solid red;
} */