.loginContainer {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background: #5965E0;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.loginContainer > img:first-child{
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  padding-bottom: 3rem;
}

